<header>
    <nav class="navbar">
      
      {{ if eq .Site.Language.Lang "en" }}
        <a class="logo" href="/en/index.html">
          <img src="/strd.png" alt="Logo">
        </a>
      {{ else }}
        <a class="logo" href="/cs/index.html">
          <img src="/strd.png" alt="Logo">
        </a>
      {{ end }}

      <ul style="display: inline-block;">
        {{ if eq .Site.Language.Lang "en" }}
          {{ $menu := .Site.Menus.main }}
          {{ range $menu }}
                <li><a href="{{ .URL }}">{{ .Name }}</a>
                {{ if .HasChildren }}
                    <ul class="submenu">
                        {{ range .Children }}
                            <li class="submenu-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                {{ end }}
                </li>
          {{ end }}
        {{ else }}
            {{ $menu := .Site.Menus.main_cs }}
            {{ range $menu }}
                <li><a href="{{ .URL }}">{{ .Name }}</a>
                {{ if .HasChildren }}
                    <ul class="submenu">
                        {{ range .Children }}
                            <li class="submenu-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                {{ end }}
                </li>
            {{ end }}
        {{ end }}
        <!--{{ printf .Site.Language.Lang}}-->
        <!--<li><a href="">Language</a>-->
            <!--<ul class="submenu">--> 
             <!-- {{ range $.Site.Home.AllTranslations }}
                 <li class="submenu-item"><a href="{{ .Permalink }}?lang={{ .Lang }}">{{ .Language.LanguageName }}</a></li>
              {{ end }}-->
            <!--</ul>-->                        
        <!--</li>-->

        {{ if .Site.IsMultiLingual }}
	        {{ range .Site.Languages }}
	          {{ if eq . $.Site.Language }}
              {{if eq .LanguageName "English"}}
                {{ $lang_image_name := ""}}
              {{end}}
		          <li class="submenu-item"><a href="#" class="active language">{{ .LanguageName }}</a></li>
	          {{ else }}
		          {{ range $.Translations }}
		            <li class="submenu-item"><a href="{{ .Permalink }}" class="">{{ .Language.LanguageName }}</a></li>
		          {{ end }}
	          {{ end }}
	        {{ end }}
        {{ end }}

      </ul>
    </nav>

</header>
  