<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "css/style.css" | relURL }}">
</head>
<body>
{{ partial "header.html" . }}
  <main>
    {{ .Content }}
    <h1>Our Team</h1>
    <div class="team">
        {{ range .Data.team }}
        {{ partial "team-member" (dict "name" .Name "position" .Position "image" .Image "bio" .Bio) }}
        {{ end }}
    </div>
  </main>
  {{ partial "footer" . }}
</body>
</html>

<!--
{{/* This page displays a list of team members */}}
{{ define "main" }}
  <h1>Our Team</h1>
  <div class="team">
    {{ range .Data.team }}
      {{ partial "team-member" (dict "name" .Name "position" .Position "image" .Image "bio" .Bio) }}
    {{ end }}
  </div>
{{ end }}

-->