<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>{{ .Title }} | {{ .Site.Title }}</title>
     <link rel="stylesheet" type="text/css" href="/css/style.css">
     <!--<link rel="stylesheet" type="text/css" href="{{ "css/style.css" | relURL }}">-->
     <!--{{ $style := resources.Get "css/custom.css" }}-->
</head>
<body>
    {{ partial "header" .}}
    <main>
      {{ if eq .Site.Language.Lang "en" }}  
        <h1 style="text-align: center;"> Team Members </h1>  
      {{ else }}
      <h1 style="text-align: center;"> Členové Týmu </h1> 
      {{ end }}
    {{.Content}}
    {{ range .Pages }}
        <div style="display:flex">
            <div style="width: 30%;">
              <img src="{{ .Params.image }}" alt=".Params.text_title" id="team_img_logo">
            </div>
            <div style="width: 70%; padding: 1em;">
              <h2 style="text-align: center;">{{ .Params.text_title }}</h2>
              <h3 style="text-align: center;">{{ .Params.text_position}}</h3>
              <p style="text-align: justify;">{{ .Params.text_content }}</p>
              <p style="text-align: justify;">Phone: {{ .Params.text_phone_number}}</p>
              <p style="text-align: justify;">Email: {{ .Params.text_email}}</p>
            </div>
          </div>
          <br>
    {{ end }}
    </main>
    {{ partial "footer" . }}
</body>
</html>

