*{
  box-sizing: border-box;
}


body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: black;
  margin: 0px;
  /*padding: 20px;*/
  /*width: 100%;
  overflow-x: hidden;*/
}
/*
h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 0px;
}*/
/*
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
} */ 

header {
  /*background-image: "/Header_background.png";*/
  background-color: gainsboro;
  background-repeat: repeat;
  padding-bottom: 0.5rem;
  min-height: 70px;
  /*position: fixed;*/
}

main{
  padding: 10px 100px;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 400px;
}

footer {
  background-color: gainsboro;
  background-repeat: repeat;
  padding-bottom: 0.1rem;
  /*padding: auto;*/
  min-height: 60px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.logo {
  float: left;
  margin: auto;
  /*padding: auto;*/
}

.logo img{
  max-width: 200px; 
  max-height: 100px;
}

.footer_info{
  padding: 20px;
}

nav ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

nav li {
  /* we could also use display: inline/inline-block */
  float: left;
  margin: 1rem 0;
  color: white;
}

nav a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
}

#team_img_logo {
  /*border-radius: 50%;*/
  max-width:100%;
  max-height:100%;
}

.our_works_main ol{
  text-align: justify
}