<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "css/style.css" | relURL }}">
</head>
<body>
  <div style="position: relative;">
{{ partial "header.html" . }}
  <main>
    {{ .Content }}
    {{ $publications := site.Data.publications }}
    <ol>
      {{ range $publications.authors }}
      <li> {{.author}} {{.name}} year {{.year}} </li>
    {{ end }}
    </ol>
  </main>
{{ partial "footer.html" . }}
</div>
</body>
</html>
