<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div style="position: relative;">
{{ partial "header.html" . }}
  <main class="our_works_main">
    {{ .Content }}
      
    {{ $achievements_en := site.Data.achievements_en }}
    <select id="achievement_groups">
      <option value="All_groups" > All categories </option>
      {{ range $achievements_en }}
      <option value="{{.category_title}}" > {{.category_title}} </option>
      {{ end }}
    </select>
    
    <select id="year_groups" data-lang="{{.Lang}}" data-url="{{ .Site.BaseURL }}" >
      <option value="All_years">-- All years --</option>
    </select>
<script>  
  // getting the current language
  const select = document.getElementById('year_groups');
  const lang = select.getAttribute('data-lang'); // get the current page's language
  const absLangDir = select.getAttribute('data-url');
  const jsonUrl = `${absLangDir}/achievements_${lang}.json`; // construct the URL for the JSON file

  // populate year dropdown
  fetch(jsonUrl)
  .then(response => response.json())
  .then(data => {
    const years = new Set();
    Object.values(data).forEach(category => 
      Object.values(category.entries).forEach(entry => 
        years.add(entry.year)
      )      
    );
    [...years].sort().reverse().forEach(year => {
      const optionElem = document.createElement('option');
      optionElem.value = year;
      optionElem.text = year;
      select.add(optionElem);
    }); 
  })
  .catch(error => {
    console.error(error)
  });

  function loadData() {
        var selectedYear = document.getElementById("year_groups").value;
        var selectedCategory = document.getElementById("achievement_groups").value;
        
        fetch(jsonUrl)
            .then(response => response.json())
            .then(data => displayData(data, selectedYear, selectedCategory))
            .catch(error => console.error(error));
      }

  function displayParagraph(divBlock,entry,display_type){
    switch (display_type){
      case 0:{
        divBlock.innerHTML += "<p>" + entry.title + entry.year +  "</p>";
        break;
      }
      case 1:{
        divBlock.innerHTML += "<p style=\"font-weight: bold;\">" + entry.title +  "</p>";
        divBlock.innerHTML += "<p> [" + entry.origion + "," + entry.year + "] - " + entry.description + "</p>"; 
        break;
      }
      case 2:{
        divBlock.innerHTML += "<p style=\"font-weight: bold;\">" + entry.title +  "</p>";
        divBlock.innerHTML += "<p> [" + entry.year + "] - " + entry.description + "</p>"; 
        break; 
      }
      case 3:{
        divBlock.innerHTML += "<p>" + entry.authors + " " + entry.title + ". " + entry.publisher + ", " + entry.year + "." + "</p>";
        break;
      }
      case 4:{
        divBlock.innerHTML += "<p>" + entry.year + " - " + entry.author + ". " + entry.title + "</p>";
        break;
      }
      case 5:{
        divBlock.innerHTML += "<p>" + entry.author + ". " + entry.title + " " + entry.year + ". " + "</p>";
        break;
      }


    }
  }

  function displayData(data, selectedYear, selectedCategory) {
        const divBlocksCategories = [];
        var divCategoriesBlocks = document.getElementById("divCategories").children;

        // converting div blocks to an array
        Object.values(divCategoriesBlocks).forEach( category =>
        {
          category.innerHTML = ""
          divBlocksCategories[category.id] = category;          
        }
        );
        
        // displaying selected elements
        Object.entries(data).forEach( entry => 
          {
            const [groupKey, category] = entry;
            if(category.category_title == selectedCategory){
              divBlocksCategories[groupKey].innerHTML += "<h2>" + category.category_title + "</h2>";
              category.entries.forEach( entry =>
                {
                  if (entry.year == selectedYear) {
                    displayParagraph(divBlocksCategories[groupKey],entry,category.display_type);
                  } else if (selectedYear == "All_years")
                  {
                    displayParagraph(divBlocksCategories[groupKey],entry,category.display_type);                    
                  }
                }                              
              );             
            } else if( selectedCategory == 'All_groups'){
              divBlocksCategories[groupKey].innerHTML += "<h2>" + category.category_title + "</h2>";
              category.entries.forEach( entry =>
                {
                  if (entry.year == selectedYear) {
                    displayParagraph(divBlocksCategories[groupKey],entry,category.display_type);
                    //divBlocksCategories[groupKey].innerHTML += "<p>" + entry.title + entry.year +  "</p>";
                  } else if (selectedYear == "All_years")
                  {
                    displayParagraph(divBlocksCategories[groupKey],entry,category.display_type);
                    //divBlocksCategories[groupKey].innerHTML += "<p>" + entry.title + entry.year +  "</p>";
                  }
                }                
              );
            }            
          }
        );               
      }
  document.addEventListener("DOMContentLoaded", loadData);
  document.getElementById("year_groups").addEventListener("change", loadData);  
  document.getElementById("achievement_groups").addEventListener("change",loadData);

</script>
    
    <div id="divCategories">
      <div id="patents"> </div>
      <div id="utility_models"> </div>
      <div id="industrial_designs"> </div>
      <div id="prototypes"> </div>
      <div id="software"> </div>
      <div id="publications"> </div>
      <div id="awards"> </div>
      <div id="doctoral_theses"> </div>
      <div id="masters_theses"> </div>
      <div id="bachelors_theses"> </div>
    </div>

    
    
  </main>
{{ partial "footer.html" . }}
</div>
</body>
</html>
